<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<style>
		<%=styles%>
	</style>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home" class="markdown-body">
	<main role="main">
		<%=content%>
	</main>
	<footer><p>
		This is version <%=pkg.version%> of this syllabus.
		<a href="<%=pdfDownload%>">Download the most recent version</a> or
		<a href="<%=pkg.repository.url%>">fork this syllabus on GitHub</a>.</p></footer>
</body>
</html>
